<div>
    <h3 class="text-3xl text-center pt-6 mb-3">Filter</h3>
    <mat-divider></mat-divider>
    <div class="flex p-4">
        <div class="w-1/2">
            <h4 class="font-semibold text-xl text-primary">Brands</h4>
            <mat-selection-list>
                @for (brand of ShopService.brands; track $index) {
                    <mat-list-option>{{brand}}</mat-list-option>
                }
            </mat-selection-list>
        </div>

        <div class="w-1/2">
            <h4 class="font-semibold text-xl text-primary">Brands</h4>
            <mat-selection-list>
                @for (types of ShopService.brands; track $index) {
                    <mat-list-option>{{types}}</mat-list-option>
                }
            </mat-selection-list>
        </div>
    </div>
</div>