*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center h3{
    opacity: 0;
    /* display: none; */
}

#capsule{
    width: 500px;
    height: 10px;
    background-color: #dadada;
    border-radius: 50px;
    overflow: hidden;
}

#progress{
    width: 0px;
    height: 100%;
    background-color: rgb(40, 157, 36);
    /* border-radius: 50px; */
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}