/* base rule */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

html {
    font-size: 62.5%;
    /* i.e. 1 rem = 10px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p,
li,
a {
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}




/* theme */

:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --white-color: #ffffff;
    --para-color: #504e4d;
    --btn-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
}


/* layout */

.container {
    max-width: 128rem;
    margin: 0 auto;
    padding: 6.5rem 2rem;
}

.grid {
    display: grid;
}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}


.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}

/* module/ reusable */

.section-common--title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
}

.section-common-heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.section-common-subheading {
    color: var(--heading-color);
}


.fa-solid,
.fa-brands {
    padding: 2rem;
    background-color: rgba(7, 16, 45, 0.87);
    font-size: 2.3rem;
    border-radius: 50%;
    color: rgb(231, 228, 28);
}

/* states */

.btn:hover {
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}



/* Navbar section start */

.section-navbar {
    width: 100%;
    box-shadow: 2px 1px 2px 0px rgb(218, 217, 218);
}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 7rem;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 2rem;
    /* text-transform: capitalize; */

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -0.15rem;
            left: 0;
            width: 0;
            border-bottom: .2rem solid var(--main-color);
        }
    }

    & li a:hover:after {
        width: 100%;
        transition: all 0.3s linear;
    }
}

.section-navbar .container .navbrand a img {
    height: 4rem;
}


/* Navbar section end */

/* Hero section Start */

main {
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #678eff,
            #b3d2ff,
            #ebf3fe);

    position: relative;
}

.section-hero .grid {
    align-items: center;
    gap: 6rem;

    & .hero-subheading {
        text-transform: uppercase;
        letter-spacing: 0.18rem;
        font-size: 1.5rem;
        word-spacing: .2rem;
        color: var(--hero-heading-color);
        font-weight: 700;
    }

    & .hero-heading {
        font-size: 4.5rem;
        line-height: 1.5;
        font-family: "jost";
        color: var(--hero-heading-color);
        font-weight: 900;
    }

    & .hero-para {
        color: var(--white-color);
        margin: 2rem 0 4.2rem 0;
    }
}


.section-hero--image img {
    width: 100%;
    height: auto;
}

/* shape divider */
.custom-shape-divider-bottom-1740321253 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1740321253 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-bottom-1740321253 .shape-fill {
    fill: #FFFFFF;
}


/* Hero section End */


/* About section start */

.section-about .about-div {
    text-align: center;
}

.section-about img {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    border-radius: 50%;
    transition: all 0.3s linear;
}


.icon:hover>img {
    transform: rotate(360deg);
    background: linear-gradient(to right, #0575e6, #021b79);
}

/* About section End */


/* Course section Start */
.section-course {
    background-color: var(--bg-color);
}

.section-course .grid {
    gap: 3.2rem;
}

.section-course .course-div {
    padding: 3.2rem;
}

.section-course .course-div:hover {
    box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-solid {
    color: #68bf9b;
    background-color: #e7f6ef;
}

.course-div:nth-child(3) .icon .fa-brands {
    color: #941698;
    background-color: #efd9f5;
}

.course-div:nth-child(4) .icon .fa-brands {
    color: #d05d0a;
    background-color: #f8dbad;
}

.course-div:nth-child(5) .icon .fa-brands {
    color: #941698;
    background-color: #efd9f5;
}

.course-div:nth-child(6) .icon .fa-brands {
    color: #68bf9b;
    background-color: #e7f6ef;
}

/* Course section End */


/* start why choose section */
.section-about .container:first-child,
.section-course .container:first-child,
.section-contact-homepage .container:first-child,
.section-why--choose .container:first-child {
    padding: 6.4rem 0 2.4rem 0;
}

.section-why--choose .text-align--right .why-choose--div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    text-align: right;
}

.section-why--choose .text-align--left .why-choose--div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-align: left;
}

.common-text--highlight {
    width: 6rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 50%;
}


.choose-center--div img {
    margin-top: 5rem;
    width: 90%;
    height: 60rem;
    border-radius: 3rem;
}

.choose-center--div,
figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-choose--div {
    margin-top: 3.2rem;
}


/* End why choose section */


/* Start contact home section */

.section-contact-homepage {
    width: 60%;
    min-height: 30rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-shadow: var(--btn-box-shadow);
    margin-bottom: 5rem;

    border-radius: 0.4rem;
    padding: 0 3.2rem;
    position: relative;
    bottom: -15rem;
    background-color: var(--white-color);

    & .grid {
        align-items: center;
        gap: 1.5rem;
    }

}

.contact-title {
    font-size: 3.8rem;
    line-height: 1.2;
}

.contact-content p {
    margin: 1.2rem 0 2.4rem 0;
}

.section-contact-homepage a {
    color: var(--white-color);
    text-transform: capitalize;
}

.section-contact-homepage .fa-solid {
    padding: 0;
    background-color: var(--main-color);
    color: var(--white-color);
}

.section-contact-homepage img {
    width: 90%;
    height: auto;
}

/* End contact home section */

/* footer section starts */

footer {
    background-color: var(--footer-bg-color);
    padding-top: 15rem;
}

footer * {
    color: var(--white-color);
}

.footer-subheading {
    font-size: 2.2rem;
    font-weight: 700;
}

.footer-1--div p {
    margin: 1rem 0 3rem 0;
}

.footer-1--div {
    text-align: left;
    & .social-footer--icons {
        display: flex;
        gap: 2rem;


        & .fa-brands {
            transition: all 0.3s linear;

            &:hover {
                color: var(--supporting-color);
                background-color: var(--btn-hover-bg-color);
                rotate: 360deg;
            }
        }
    }
}

footer .grid{
    text-align: right;
}

/* footer section ends */