@{
    ViewBag.Title = "Index";
}

<h2>Employee List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in (List<StateManagementTechniquesDemo.Models.Employee>) ViewData["EmpList"])*@
        @*@foreach (var item in ViewBag.EmpList)*@
        @*@foreach (var item in (List<StateManagementTechniquesDemo.Models.Employee >)TempData["EmpList"])*@
        @foreach (var item in (List<StateManagementTechniquesDemo.Models.Employee>)Session["EmpList"])
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Salary</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Redirect to About","About")

