/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* ---------------------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.logo {
  width: 14rem;
  /* height: 8rem; */
}

.search {
  padding: 10px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: 1.5rem;

  li {
    padding: 10px;
    margin: 10px;
  }

  .login {
    padding: 0 1rem;
    font-size: 1.2rem;
    margin-right: 5px;
  }
}

.res-card {
  cursor: pointer;
  width: 14rem;
  /* height: 19rem; */
  padding: 5px;
  border-radius: 5px;

  img {
    height: 9rem;
    border-radius: 5px;
  }

  h4,
  h3 {
    margin: 0.67rem;
  }

  &:hover {
    border: 1px solid palevioletred;
  }
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.res-logo {
  width: 100%;
  height: 45%;
}

.filter{
  display: flex;
}

.filter-btn {
  margin: 0.6rem;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .shimmer-card {
    margin-top: 1.3rem;
    width: 14rem;
    height: 19rem;
    padding: 5px;
    background-color: #f9f7f7;
    border-radius: 5px;

    .img {
      /* height: 9rem;
      width: 90%; */
      width: 100%;
      height: 45%;
      background-color: #e7e6e6;
      border: 1px solid #f9f7f7;
      border-radius: 5px;
    }

    h4,
    h3 {
      height: 1rem;
      margin: 0.67rem;
      background-color: #e7e6e6;
      border-radius: 3px;
    }

    h4 {
      height: 1.7rem;
    }
  }
}
