/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* ---------------------------------------------------------- */

* {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  /* background-color: #ff5200; */
  background-color: rgb(82, 96, 190);
}

.logo-container {
  display: flex;
  align-items: center;
  color: white;
  .logo {
    width: 6rem;
    /* height: 6rem; */
    /* border: 1px solid black; */
    border-radius: 50%;
  }
}

.search {
  padding: 10px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: 1.5rem;

  .link {
    color: white;
  }

  li {
    padding: 0 10px;
    margin: 10px;
    color: white;
  }

  .login {
    padding: 0 1rem;
    font-size: 1.2rem;
    margin-right: -2rem;
    /* margin-left: 3rem; */
  }
}

.res-card {
  cursor: pointer;
  width: 14rem;
  /* height: 19rem; */
  padding: 5px;
  border-radius: 0.8rem;
  color: black;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; /* prevent content overflow */

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  /*justify-content: space-evenly;
  align-items: flex-start; */

  img {
    height: 9rem;
    border-radius: 5px;
  }

  h4,
  h3 {
    margin: 0.67rem;
  }

  &:hover {
    /* border: 1px solid palevioletred; */
    transform: scale(1.05); /* zoom effect */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* shadow effect */
  }
}

.res-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto 1rem;
}

.card-text-overflow {
  white-space: nowrap; /* prevent wrapping to new line */
  overflow: hidden; /* hide extra text */
  text-overflow: ellipsis; /* show ... at the end */
  display: block; /* required for ellipsis */
  max-width: 200px; /* set width as per your design */
  color: #555; /* optional styling */
}

.res-container {
  margin: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.menu {
  margin: 1rem 2rem;
}

.res-logo {
  width: 100%;
  height: 45%;
}

.filter {
  display: flex;
}

.filter-btn {
  margin: 0.6rem;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .shimmer-card {
    margin-top: 1.3rem;
    width: 14rem;
    height: 19rem;
    padding: 5px;
    background-color: #f9f7f7;
    border-radius: 5px;

    .img {
      /* height: 9rem;
      width: 90%; */
      width: 100%;
      height: 45%;
      background-color: #e7e6e6;
      border: 1px solid #f9f7f7;
      border-radius: 5px;
    }

    h4,
    h3 {
      height: 1rem;
      margin: 0.67rem;
      background-color: #e7e6e6;
      border-radius: 3px;
    }

    h4 {
      height: 1.7rem;
    }
  }
}
