<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">MyStore</a>
    <div class="ms-auto d-flex align-items-center">
      <a class="btn btn-outline-primary me-2" routerLink="/cart">Cart ({{cartCount}})</a>
      <ng-container *ngIf="user; else login">
        <span class="me-2">Hi, {{user}}</span>
        <button class="btn btn-outline-danger btn-sm" (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #login>
        <a class="btn btn-outline-success" routerLink="/login">Login</a>
      </ng-template>
    </div>
  </div>
</nav>
<div style="height:56px;"></div>
