select{
    width: 100px;
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 5px;
}

button{
    padding: 8px 10px;
    background-color: rgb(215, 172, 252);
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

img{
    /* border: 2px solid rgb(82, 79, 79); */
    box-shadow: 2px 2px 3px 3px rgb(78, 77, 77);
    
    &:hover{
        box-shadow: 2px 2px 5px 7px rgb(131, 123, 123);
    }
}