<h1>Cities</h1>

<div class="flex">
  <div class="flex-1">
    <div class="table-container">
      <table class="table w-100" [formGroup]="putCityForm">
        <thead>
          <tr>
            <th>#</th>
            <th>City Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody formArrayName="cities">
          @for (city of cities; track $index) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <!-- <td>{{ city.cityName }}</td> -->
             <td [formGroupName]="$index">
                <input type="text" formControlName="cityName" [ngClass]="{'border-less-textbox':city.cityID!=editCityID, 
                  'form-input':city.cityID==editCityID,}" [disableControl]="city.cityID !=editCityID">
             </td>
            <td style="width: 200px;">
              <button class="button button-blue-back" (click)="editClicked(city)"
              *ngIf="city.cityID!= editCityID" type="button">Edit</button>
              <button class="button button-blue-back" (click)="updateClicked($index)"
              *ngIf="city.cityID== editCityID" type="submit">Update</button>
              <button class="button button-red-back ml" (click)="deleteClicked(city,$index)"
              *ngIf="city.cityID!= editCityID" type="button">Delete</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="flex-1 w-50">
    <div class="form-container">
      <h3>Create City</h3>
      <form [formGroup]="postCityForm" (ngSubmit)="postCitySubmitted()">
        <div class="form-field">
          <div class="w-25">
            <label for="cityName" class="form-label pt">Name</label>
          </div>
          <div class="flex-1">
            <input type="text" class="form-input" formControlName="cityName">
            @if ((postCity_CityNameControl.touched || isPostCityFormSubmitted) && (postCity_CityNameControl.errors?.['required'])) {
              <span class="text-red">City Name can't be blank</span>
            }
            
          </div>
        </div>

        <div class="form-fiels flex">
          <div class="w-25"></div>

          <div class="flex-1">
            <button class="button button-green-back">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
