.container{
    width: 50%;
    margin: auto;
    background-color: aliceblue;
}

.form{
    border: 1px solid gray;
    width: 70%;
    padding: 1rem;
    background-color: beige;
    margin: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-content: center; */

    #name-email{
        width: 90%;
        margin: 5px auto;
    }
}