<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=SiddharthPatil\SIDDHARTHPATIL;Initial Catalog=ADODB;Integrated Security=True;Encrypt=False" name="ADODBConnectionString"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>